#u133-4,#u154-2,#u154-6,#u154-10,#u134-5,#u144-4,#u101-8,#u121-114,#u131-5,#u106-8,#u127-9,#u128-8,#u129-8,#u146-7,#u147-7,#u148-7,#u149-7,#u151-18,#u152-5
{
	font-family: maven-pro-n4, sans-serif;
}

#u133-2,#u154-4,#u154-8,#u120-4,#u132-4,#u117-4,#u145-4,#u150-4,#u151-2,#u151-6,#u151-8,#u151-13,#u152-2
{
	font-family: maven-pro-n7, sans-serif;
}

