.version.index /* version checker */
{
	color: #0000E7;
	background-color: #01661F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 964px;
	min-height: 987px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -38px;
	margin-bottom: -63px;
	width: 0.01px;
}

#pu75-4
{
	width: 0.01px;
}

#u75-4
{
	z-index: 6;
	width: 636px;
	min-height: 104px;
	background-color: transparent;
	line-height: 100px;
	font-size: 100px;
	letter-spacing: -3px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u120-4
{
	z-index: 55;
	width: 144px;
	min-height: 20px;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 656px;
}

#u121-4
{
	z-index: 59;
	width: 144px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	color: #000000;
	line-height: 14px;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 820px;
}

#pu78-37
{
	width: 0.01px;
	margin-top: 14px;
}

#u78-37
{
	z-index: 10;
	width: 636px;
	min-height: 753px;
	background-color: transparent;
	line-height: 57px;
	font-size: 52px;
	letter-spacing: -2px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
}

#u78-7,#u78-25
{
	text-decoration: none;
}

#u78,#u78-6,#u78-8,#u78-14,#u78-20,#u78-24,#u78-27,#u78-31
{
	text-decoration: underline;
}

#pu111-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 656px;
}

#u111-4
{
	z-index: 51;
	width: 308px;
	min-height: 20px;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u206-6
{
	z-index: 230;
	width: 226px;
	min-height: 50px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u207-6
{
	z-index: 242;
	width: 82px;
	min-height: 40px;
	background-color: transparent;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 226px;
}

#u205-4
{
	z-index: 252;
	width: 226px;
	min-height: 20px;
	background-color: transparent;
	font-size: 10px;
	line-height: 15px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u82-4
{
	z-index: 47;
	width: 308px;
	min-height: 20px;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 20px;
	position: relative;
}

#pu206-6,#pu80-10
{
	width: 0.01px;
	margin-top: 10px;
}

#u80-10
{
	z-index: 63;
	width: 226px;
	min-height: 109px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u80-8
{
	font-style: normal;
}

#u81-6
{
	z-index: 119;
	width: 82px;
	min-height: 40px;
	background-color: transparent;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 226px;
}

#u94-4
{
	z-index: 125;
	width: 226px;
	min-height: 40px;
	background-color: transparent;
	font-size: 10px;
	line-height: 15px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 10px;
	position: relative;
}

#u185-6
{
	z-index: 224;
	width: 226px;
	min-height: 50px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u186-6
{
	z-index: 236;
	width: 82px;
	min-height: 40px;
	background-color: transparent;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 226px;
}

#u187-4
{
	z-index: 248;
	width: 226px;
	min-height: 20px;
	background-color: transparent;
	font-size: 10px;
	line-height: 15px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u176-6
{
	z-index: 208;
	width: 226px;
	min-height: 50px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u177-6
{
	z-index: 214;
	width: 82px;
	min-height: 40px;
	background-color: transparent;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 226px;
}

#u178-4
{
	z-index: 220;
	width: 226px;
	min-height: 20px;
	background-color: transparent;
	font-size: 10px;
	line-height: 15px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#pu185-6,#pu176-6,#pu97-6
{
	width: 0.01px;
	margin-top: 20px;
}

#u97-6
{
	z-index: 81;
	width: 226px;
	min-height: 50px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u98-6
{
	z-index: 163;
	width: 82px;
	min-height: 40px;
	background-color: transparent;
	color: #000000;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 226px;
}

#u99-4
{
	z-index: 133;
	width: 226px;
	min-height: 60px;
	background-color: transparent;
	line-height: 15px;
	color: #000000;
	font-size: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#pu83-8
{
	width: 0.01px;
	margin-top: 30px;
}

#u83-8
{
	z-index: 73;
	width: 226px;
	min-height: 70px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u84-6
{
	z-index: 157;
	width: 82px;
	min-height: 40px;
	background-color: transparent;
	color: #000000;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 226px;
}

#u95-4
{
	z-index: 129;
	width: 226px;
	min-height: 30px;
	background-color: transparent;
	line-height: 15px;
	color: #000000;
	font-size: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#pu117-6
{
	width: 0.01px;
	margin-left: 656px;
	margin-top: 19px;
}

#u117-6
{
	z-index: 113;
	width: 226px;
	min-height: 50px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u118-6
{
	z-index: 193;
	width: 82px;
	min-height: 40px;
	background-color: transparent;
	color: #000000;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 226px;
}

#u119-4
{
	z-index: 141;
	width: 226px;
	min-height: 20px;
	background-color: transparent;
	line-height: 15px;
	color: #000000;
	font-size: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 656px;
	position: relative;
}

#u85-6
{
	z-index: 107;
	width: 226px;
	min-height: 50px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u86-6
{
	z-index: 187;
	width: 82px;
	min-height: 40px;
	background-color: transparent;
	color: #000000;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 226px;
}

#u96-4
{
	z-index: 137;
	width: 226px;
	min-height: 20px;
	background-color: transparent;
	line-height: 15px;
	color: #000000;
	font-size: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 656px;
	position: relative;
}

#u89-6
{
	z-index: 87;
	width: 226px;
	min-height: 50px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u90-6
{
	z-index: 169;
	width: 82px;
	min-height: 40px;
	background-color: transparent;
	color: #000000;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 226px;
}

#u104-4
{
	z-index: 145;
	width: 226px;
	min-height: 20px;
	background-color: transparent;
	line-height: 15px;
	color: #000000;
	font-size: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 656px;
	position: relative;
}

#u107-8
{
	z-index: 99;
	width: 226px;
	min-height: 70px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u105-6
{
	z-index: 181;
	width: 82px;
	min-height: 40px;
	background-color: transparent;
	color: #000000;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 226px;
}

#u106-4
{
	z-index: 153;
	width: 226px;
	min-height: 30px;
	background-color: transparent;
	line-height: 15px;
	color: #000000;
	font-size: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 656px;
	position: relative;
}

#pu85-6,#pu89-6,#pu107-8,#pu108-6
{
	width: 0.01px;
	margin-left: 656px;
	margin-top: 20px;
}

#u108-6
{
	z-index: 93;
	width: 226px;
	min-height: 50px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u110-6
{
	z-index: 175;
	width: 82px;
	min-height: 40px;
	background-color: transparent;
	color: #000000;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 226px;
}

#u109-4
{
	z-index: 149;
	width: 226px;
	min-height: 20px;
	background-color: transparent;
	line-height: 15px;
	color: #000000;
	font-size: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 656px;
	position: relative;
}

#pu112-4
{
	width: 0.01px;
	margin-top: 23px;
}

#u112-4
{
	z-index: 2;
	width: 636px;
	min-height: 102px;
	background-color: transparent;
	line-height: 100px;
	font-size: 100px;
	letter-spacing: -3px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u114
{
	z-index: 199;
	width: 964px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
}

#u79-4
{
	z-index: 200;
	width: 308px;
	min-height: 20px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
}

#u115-4
{
	z-index: 204;
	width: 308px;
	min-height: 20px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 656px;
}

body
{
	position: relative;
	min-width: 964px;
	padding-bottom: 60px;
}

#page .verticalspacer
{
	clear: both;
}

