.version.index /* version checker */
{
	color: #000010;
	background-color: #05368A;
}

@-ms-viewport
{
	width: 378px;
}

@-webkit-viewport
{
	width: 378px;
}

@-o-viewport
{
	width: 378px;
}

@-moz-viewport
{
	width: 378px;
}

@viewport
{
	width: 378px;
}

.html
{
	background: #FFFFFF url("../../images/substreamvol01_141230b_bg0.jpg") no-repeat center top scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 358px;
	min-height: 1944.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 20px 10px 48.049999999999955px;
}

#pu301
{
	width: 0.01px;
}

#u301
{
	z-index: 4;
	width: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 139px;
}

#u304-6
{
	z-index: 14;
	width: 150px;
	min-height: 56px;
	background-color: transparent;
	font-size: 16px;
	color: #FCA9DB;
	line-height: 16px;
	letter-spacing: -1px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u304-4
{
	font-family: maven-pro, sans-serif;
	font-weight: 400;
}

#u306-5
{
	z-index: 20;
	width: 117px;
	min-height: 56px;
	background-color: transparent;
	font-size: 18px;
	color: #FCA9DB;
	line-height: 18px;
	letter-spacing: -1px;
	text-align: right;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#u306
{
	font-size: 14px;
	line-height: 14px;
}

#u303-8
{
	z-index: 6;
	width: 358px;
	min-height: 81px;
	background-color: transparent;
	line-height: 28px;
	font-size: 14px;
	color: #FCA9DB;
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-top: 104px;
	position: relative;
}

#u299
{
	z-index: 2;
	width: 256px;
	background-color: transparent;
	margin-left: 51px;
	margin-top: 97px;
	position: relative;
}

#u345-69
{
	z-index: 240;
	width: 358px;
	min-height: 81px;
	background-color: transparent;
	font-size: 18px;
	color: #FCA9DB;
	line-height: 27px;
	letter-spacing: -1px;
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-top: 115px;
	position: relative;
}

#u345,#u345-5,#u345-10,#u345-14,#u345-19,#u345-23,#u345-28,#u345-32,#u345-37,#u345-41,#u345-46,#u345-50,#u345-55,#u345-59,#u345-64
{
	font-size: 21px;
	line-height: 32px;
}

#u345-2,#u345-4,#u345-6,#u345-8,#u345-11,#u345-13,#u345-15,#u345-17,#u345-20,#u345-22,#u345-24,#u345-26,#u345-29,#u345-31,#u345-33,#u345-35,#u345-38,#u345-40,#u345-42,#u345-44,#u345-47,#u345-49,#u345-51,#u345-53,#u345-56,#u345-58,#u345-60,#u345-62,#u345-65
{
	line-height: 27px;
}

#u345-3,#u345-7,#u345-12,#u345-16,#u345-21,#u345-25,#u345-30,#u345-34,#u345-39,#u345-43,#u345-48,#u345-52,#u345-57,#u345-61,#u345-66
{
	font-size: 11px;
	line-height: 17px;
}

#u319-4
{
	z-index: 25;
	width: 358px;
	min-height: 15px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FCA9DB;
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 700;
	margin-top: 60px;
	position: relative;
}

#u320-4
{
	z-index: 29;
	width: 358px;
	min-height: 15px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FCA9DB;
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-top: 20px;
	position: relative;
}

#u321-5
{
	z-index: 33;
	width: 358px;
	min-height: 26px;
	background-color: transparent;
	font-size: 24px;
	color: #FCA9DB;
	line-height: 29px;
	letter-spacing: -1px;
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-top: 1px;
	position: relative;
}

#u343-4
{
	z-index: 228;
	width: 358px;
	min-height: 15px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FCA9DB;
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 700;
	margin-top: 101px;
	position: relative;
}

#u344-8
{
	z-index: 232;
	width: 358px;
	min-height: 26px;
	background-color: transparent;
	font-size: 24px;
	color: #FCA9DB;
	line-height: 29px;
	letter-spacing: -1px;
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-top: 22px;
	position: relative;
}

#u306-3,#u345-9,#u345-18,#u345-27,#u345-36,#u345-45,#u345-54,#u345-63,#u345-67,#u344-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u344-5
{
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 14px;
}

#pu322-34
{
	width: 0.01px;
	margin-top: 18px;
}

#u322-34
{
	z-index: 38;
	width: 50px;
	min-height: 81px;
	background-color: transparent;
	line-height: 30px;
	letter-spacing: -1px;
	color: #FCA9DB;
	text-align: left;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u323-34
{
	z-index: 72;
	width: 50px;
	min-height: 81px;
	background-color: transparent;
	line-height: 30px;
	letter-spacing: -1px;
	color: #FCA9DB;
	text-align: left;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u324-34
{
	z-index: 106;
	width: 50px;
	min-height: 81px;
	background-color: transparent;
	line-height: 30px;
	letter-spacing: -1px;
	color: #FCA9DB;
	text-align: left;
	font-family: maven-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 150px;
}

#u325-34
{
	z-index: 140;
	width: 148px;
	min-height: 81px;
	background-color: transparent;
	line-height: 30px;
	letter-spacing: -1px;
	color: #FCA9DB;
	text-align: left;
	font-family: maven-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u326-34
{
	z-index: 174;
	width: 50px;
	min-height: 81px;
	background-color: transparent;
	line-height: 30px;
	letter-spacing: -1px;
	color: #FCA9DB;
	text-align: left;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u322-3,#u322-5,#u322-7,#u322-9,#u322-11,#u322-13,#u322-15,#u326-3,#u326-5,#u326-7,#u326-9
{
	text-decoration: underline;
}

#u327
{
	z-index: 212;
	width: 358px;
	height: 2px;
	border-color: #000000;
	background-color: #FDD4ED;
	background-color: rgba(252, 169, 219, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	-pie-background: rgba(252, 169, 219, 0.5);
}

#u328
{
	z-index: 213;
	width: 358px;
	height: 1px;
	border-color: #000000;
	background-color: #FDD4ED;
	background-color: rgba(252, 169, 219, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	-pie-background: rgba(252, 169, 219, 0.5);
}

#u329
{
	z-index: 214;
	width: 358px;
	height: 1px;
	border-color: #000000;
	background-color: #FDD4ED;
	background-color: rgba(252, 169, 219, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	-pie-background: rgba(252, 169, 219, 0.5);
}

#u330
{
	z-index: 215;
	width: 358px;
	height: 1px;
	border-color: #000000;
	background-color: #FDD4ED;
	background-color: rgba(252, 169, 219, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	-pie-background: rgba(252, 169, 219, 0.5);
}

#u331
{
	z-index: 216;
	width: 358px;
	height: 1px;
	border-color: #000000;
	background-color: #FDD4ED;
	background-color: rgba(252, 169, 219, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	-pie-background: rgba(252, 169, 219, 0.5);
}

#u332
{
	z-index: 217;
	width: 358px;
	height: 1px;
	border-color: #000000;
	background-color: #FDD4ED;
	background-color: rgba(252, 169, 219, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	-pie-background: rgba(252, 169, 219, 0.5);
}

#u333
{
	z-index: 218;
	width: 358px;
	height: 1px;
	border-color: #000000;
	background-color: #FDD4ED;
	background-color: rgba(252, 169, 219, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	-pie-background: rgba(252, 169, 219, 0.5);
}

#u334
{
	z-index: 219;
	width: 358px;
	height: 1px;
	border-color: #000000;
	background-color: #FDD4ED;
	background-color: rgba(252, 169, 219, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	-pie-background: rgba(252, 169, 219, 0.5);
}

#u335
{
	z-index: 220;
	width: 358px;
	height: 1px;
	border-color: #000000;
	background-color: #FDD4ED;
	background-color: rgba(252, 169, 219, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 270px;
	-pie-background: rgba(252, 169, 219, 0.5);
}

#u336
{
	z-index: 221;
	width: 358px;
	height: 1px;
	border-color: #000000;
	background-color: #FDD4ED;
	background-color: rgba(252, 169, 219, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 300px;
	-pie-background: rgba(252, 169, 219, 0.5);
}

#u337
{
	z-index: 222;
	width: 358px;
	height: 1px;
	border-color: #000000;
	background-color: #FDD4ED;
	background-color: rgba(252, 169, 219, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 330px;
	-pie-background: rgba(252, 169, 219, 0.5);
}

#u338
{
	z-index: 223;
	width: 358px;
	height: 1px;
	border-color: #000000;
	background-color: #FDD4ED;
	background-color: rgba(252, 169, 219, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 360px;
	-pie-background: rgba(252, 169, 219, 0.5);
}

#u339
{
	z-index: 224;
	width: 358px;
	height: 1px;
	border-color: #000000;
	background-color: #FDD4ED;
	background-color: rgba(252, 169, 219, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 390px;
	-pie-background: rgba(252, 169, 219, 0.5);
}

#u340
{
	z-index: 225;
	width: 358px;
	height: 1px;
	border-color: #000000;
	background-color: #FDD4ED;
	background-color: rgba(252, 169, 219, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 420px;
	-pie-background: rgba(252, 169, 219, 0.5);
}

#u341
{
	z-index: 226;
	width: 358px;
	height: 1px;
	border-color: #000000;
	background-color: #FDD4ED;
	background-color: rgba(252, 169, 219, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 450px;
	-pie-background: rgba(252, 169, 219, 0.5);
}

#u342
{
	z-index: 227;
	width: 358px;
	height: 1px;
	border-color: #000000;
	background-color: #FDD4ED;
	background-color: rgba(252, 169, 219, 0.5);
	position: relative;
	-pie-background: rgba(252, 169, 219, 0.5);
}

#u349-4
{
	z-index: 208;
	width: 358px;
	min-height: 39px;
	background-color: transparent;
	font-size: 12px;
	color: #FCA9DB;
	line-height: 30px;
	letter-spacing: 0px;
	text-align: left;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u346-4
{
	z-index: 309;
	width: 358px;
	min-height: 15px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FCA9DB;
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 700;
	margin-top: 51px;
	position: relative;
}

#u347-23
{
	z-index: 313;
	width: 358px;
	min-height: 81px;
	background-color: transparent;
	font-size: 16px;
	color: #FCA9DB;
	line-height: 19px;
	letter-spacing: -1px;
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-top: 32px;
	position: relative;
}

#u348-5
{
	z-index: 336;
	width: 358px;
	min-height: 24px;
	background-color: transparent;
	font-size: 12px;
	color: #FCA9DB;
	line-height: 14px;
	letter-spacing: 0px;
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-top: 38px;
	position: relative;
}

#u304-2,#u347-2,#u347-6,#u347-8,#u347-13,#u347-18,#u348-2
{
	font-family: maven-pro, sans-serif;
	font-weight: 700;
}

body
{
	position: relative;
	min-width: 378px;
}

#page .verticalspacer
{
	clear: both;
}

