#u304-4,#u306-5,#u303-8,#u345-47,#u320-4,#u321-5,#u344-8,#u322-34,#u323-34,#u326-34,#u349-4,#u347-23,#u348-5
{
	font-family: maven-pro-n4, sans-serif;
}

#u304-2,#u319-4,#u343-4,#u324-34,#u325-34,#u346-4,#u347-2,#u347-6,#u347-8,#u347-13,#u347-18,#u348-2
{
	font-family: maven-pro-n7, sans-serif;
}

