.version.index /* version checker */
{
	color: #000015;
	background-color: #5FB5E5;
}

@-ms-viewport
{
	width: 319px;
}

@-webkit-viewport
{
	width: 319px;
}

@-o-viewport
{
	width: 319px;
}

@-moz-viewport
{
	width: 319px;
}

@viewport
{
	width: 319px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 319px;
	min-height: 1640.6999999999953px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -30px;
	margin-bottom: -61px;
	width: 0.01px;
}

#u142-4
{
	z-index: 2;
	width: 320px;
	min-height: 60px;
	background-color: transparent;
	line-height: 60px;
	font-size: 60px;
	letter-spacing: -3px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u147-4
{
	z-index: 30;
	width: 144px;
	min-height: 20px;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u148-4
{
	z-index: 34;
	width: 144px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	color: #000000;
	line-height: 14px;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u143-4
{
	z-index: 6;
	width: 196px;
	min-height: 20px;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 10px;
	margin-top: 11px;
	position: relative;
}

#u208-6
{
	z-index: 239;
	width: 196px;
	min-height: 40px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u209-6
{
	z-index: 245;
	width: 93px;
	min-height: 40px;
	background-color: transparent;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 206px;
}

#u210-6
{
	z-index: 251;
	width: 196px;
	min-height: 30px;
	background-color: transparent;
	font-size: 10px;
	line-height: 15px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}

#u149-36
{
	z-index: 38;
	width: 299px;
	min-height: 600px;
	background-color: transparent;
	line-height: 40px;
	font-size: 36px;
	letter-spacing: -2px;
	font-family: Courier New, Courier, monospace;
	margin-left: 10px;
	margin-top: 20px;
	position: relative;
}

#u149,#u149-5,#u149-7,#u149-9,#u149-15,#u149-21,#u149-26,#u149-28,#u149-30
{
	text-decoration: underline;
}

#u150-4
{
	z-index: 74;
	width: 196px;
	min-height: 20px;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 10px;
	margin-top: 41px;
	position: relative;
}

#pu147-4,#pu208-6,#pu144-10
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 10px;
}

#u144-10
{
	z-index: 10;
	width: 196px;
	min-height: 100px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u144-8
{
	font-style: normal;
}

#u145-6
{
	z-index: 20;
	width: 93px;
	min-height: 40px;
	background-color: transparent;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 206px;
}

#u146-4
{
	z-index: 26;
	width: 196px;
	min-height: 40px;
	background-color: transparent;
	font-size: 10px;
	line-height: 15px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}

#u199-6
{
	z-index: 207;
	width: 196px;
	min-height: 40px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u200-6
{
	z-index: 213;
	width: 93px;
	min-height: 40px;
	background-color: transparent;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 206px;
}

#u201-4
{
	z-index: 219;
	width: 196px;
	min-height: 30px;
	background-color: transparent;
	font-size: 10px;
	line-height: 15px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}

#u202-6
{
	z-index: 223;
	width: 196px;
	min-height: 40px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u203-6
{
	z-index: 229;
	width: 93px;
	min-height: 40px;
	background-color: transparent;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 206px;
}

#u204-4
{
	z-index: 235;
	width: 210px;
	min-height: 20px;
	background-color: transparent;
	font-size: 10px;
	line-height: 15px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}

#u152-6
{
	z-index: 86;
	width: 196px;
	min-height: 40px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u166-6
{
	z-index: 158;
	width: 93px;
	min-height: 40px;
	background-color: transparent;
	color: #000000;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 206px;
}

#u159-4
{
	z-index: 128;
	width: 196px;
	min-height: 60px;
	background-color: transparent;
	line-height: 15px;
	color: #000000;
	font-size: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}

#u151-8
{
	z-index: 78;
	width: 196px;
	min-height: 60px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u165-6
{
	z-index: 152;
	width: 93px;
	min-height: 40px;
	background-color: transparent;
	color: #000000;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 206px;
}

#u158-4
{
	z-index: 124;
	width: 196px;
	min-height: 50px;
	background-color: transparent;
	line-height: 15px;
	color: #000000;
	font-size: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 10px;
	position: relative;
}

#u157-6
{
	z-index: 118;
	width: 196px;
	min-height: 40px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u171-6
{
	z-index: 188;
	width: 93px;
	min-height: 40px;
	background-color: transparent;
	color: #000000;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 206px;
}

#u161-4
{
	z-index: 136;
	width: 196px;
	min-height: 30px;
	background-color: transparent;
	line-height: 15px;
	color: #000000;
	font-size: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 10px;
	position: relative;
}

#u156-6
{
	z-index: 112;
	width: 196px;
	min-height: 40px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u170-6
{
	z-index: 182;
	width: 93px;
	min-height: 40px;
	background-color: transparent;
	color: #000000;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 206px;
}

#u160-4
{
	z-index: 132;
	width: 196px;
	min-height: 20px;
	background-color: transparent;
	line-height: 15px;
	color: #000000;
	font-size: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 10px;
	position: relative;
}

#pu199-6,#pu202-6,#pu152-6,#pu151-8,#pu157-6,#pu156-6,#pu153-6
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 20px;
}

#u153-6
{
	z-index: 92;
	width: 196px;
	min-height: 40px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u167-6
{
	z-index: 164;
	width: 93px;
	min-height: 40px;
	background-color: transparent;
	color: #000000;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 206px;
}

#u162-4
{
	z-index: 140;
	width: 196px;
	min-height: 40px;
	background-color: transparent;
	line-height: 15px;
	color: #000000;
	font-size: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 10px;
	position: relative;
}

#pu155-8
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 18px;
}

#u155-8
{
	z-index: 104;
	width: 196px;
	min-height: 60px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u169-6
{
	z-index: 176;
	width: 93px;
	min-height: 40px;
	background-color: transparent;
	color: #000000;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 206px;
}

#u164-4
{
	z-index: 148;
	width: 196px;
	min-height: 30px;
	background-color: transparent;
	line-height: 15px;
	color: #000000;
	font-size: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 10px;
	position: relative;
}

#pu154-6
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 25px;
}

#u154-6
{
	z-index: 98;
	width: 196px;
	min-height: 40px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u168-6
{
	z-index: 170;
	width: 93px;
	min-height: 40px;
	background-color: transparent;
	color: #000000;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 206px;
}

#u163-4
{
	z-index: 144;
	width: 196px;
	min-height: 20px;
	background-color: transparent;
	line-height: 15px;
	color: #000000;
	font-size: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 10px;
	position: relative;
}

#pu172-4
{
	width: 0.01px;
	margin-top: 46px;
}

#u172-4
{
	z-index: 194;
	width: 299px;
	min-height: 75px;
	background-color: transparent;
	line-height: 60px;
	font-size: 60px;
	letter-spacing: -3px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u173
{
	z-index: 198;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 15px;
}

#u174-4
{
	z-index: 199;
	width: 100px;
	min-height: 20px;
	background-color: transparent;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 10px;
}

#u175-4
{
	z-index: 203;
	width: 196px;
	min-height: 20px;
	background-color: transparent;
	line-height: 12px;
	text-align: right;
	font-size: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 113px;
}

#u173-bw
{
	z-index: 198;
	min-height: 45px;
	margin-top: 26px;
}

body
{
	position: relative;
	min-width: 319px;
	padding-bottom: 50px;
}

#page .verticalspacer
{
	clear: both;
}

